*,
::after,
::before {
  background-color: antiquewhite;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  color: rgb(41, 29, 3);
}

.underline {
  border-bottom: solid goldenrod;
  border-width: 0.5rem;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 5px;
  width: 15vw;
}

.content-image {
  display: block;
  width: 30vw;
  padding: auto;
  border: 2px solid darkgoldenrod;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.content-card {
  padding: 2rem;
  background-color: aliceblue;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.content-title {
  background-color: transparent;
  text-align: center;
  color: rgb(41, 29, 3);
}

.content-description {
  background-color: transparent;
}

.content-info {
  justify-content: space-between;
  background-color: transparent;
  margin-bottom: 0.5rem;
}

.content-price {
  background-color: transparent;
  color: darkgoldenrod;
  text-align: center;
  margin-bottom: 0.5rem;
}

.content-main {
  display: grid;
}

.content-underline {
  border-bottom: 2px solid goldenrod;
}

@media screen and (max-width: 600px) {
  .content-card {
    width: 90%;
  }
}

.btn-filter {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  margin: 0 0.5rem 1rem 0;
  padding: 0.375rem 0.75rem;
  transition: all 0.3s linear;
  color: rgb(112, 82, 7);
  border-radius: 15px;
  font-weight: bold;
  outline: None;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-filter:hover {
  color: rgb(255, 248, 205);
  background: hsl(43, 89%, 38%, 0.8);
}

.btn-filter:active {
  background: rgba(121, 89, 9, 1);
  outline: None;
}
